

<!DOCTYPE html>
<html lang="en">
<head>
	  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Login ke Aplikasi Welder Web</title>
	<link rel="stylesheet" href="./static/login/login.css?v=1849163185" />
	<link rel="stylesheet" href="./static/login/switch/sweetalert2.min.css">
	<script src="./static/login/switch/jquery-3.6.0.min.js?v=1.0"></script>
</head>
<body>
<div class = "main">
	<form method="POST" action="./beranda"  enctype="multipart/form-data">
		<div class="login-wrap">
			<div class="login-html">
				<input id="tab-1" type="radio" style="cursor:pointer;" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
				<input id="tab-2" type="radio" style="cursor:pointer;" name="tab" class="sign-up"><label for="tab-2" class="tab">Buat Akun</label>
				<div class="login-form">
					<div class="sign-in-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="username" type="text" class="input">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="password" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<input id="check" type="checkbox" class="check" checked>
							<label for="check"> </label>
						</div>
						<div class="group">
							<input type="submit" style="cursor:pointer;" name="submit" class="button" value="Sign In">
						</div>
						<div class="group" style="text-align: center;color: #fff;">
							<label>{{info}}</label>
						</div>
					</div>
	</form>
	<form method="POST" action="./daftar"  enctype="multipart/form-data">
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="username" type="text" class="input">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="password" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" name="repassword" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<label for="nama" class="label">Nama Lengkap</label>
							<input id="nama" name="nama" type="text" class="input">
						</div>
						<div class="group">
							<input type="submit" style="cursor:pointer;" name="daftar" class="button" value="Daftar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="./static/login/switch/sweetalert2.min.js"></script>
	</script>
</body>
</html>